<template name="header">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <a href="/" class="navbar-brand">Project 529 Orders</a>
                </div>
                <div class="col-md-8 navbar-brand">
                    Categories
                </div>
                <div class="col-md-2 navbar-brand">
                    login
                </div>
            </div>
        </div>
    </nav>
</template>